@media screen and (max-width:952px) {
    .logo {
        padding-left: 35px
    }
    .nav-list-menu li a {
        font-size: 16px;
    }
}

@media screen and (max-width:858px) {
    .section {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .section .img-info {
        max-width: 100%;
        height: auto;
    }
    .nav-menu {
        height: 65px;
    }
    .btn-menu {
        display: inline-flex;
    }
    .nav-list-menu {
        position: fixed;
        width: 100vw;
        height: calc(100% -65px);
        background: rgba(254, 144, 1, 0.933);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 35px;
    }
    .nav-list-menu li {
        margin: 30px 0 0 0;
        line-height: 60px;
    }
    .motivo {
        color: #fff;
        font-size: 16px;
        text-align: center;
        margin: auto;
    }
    .nav-list-menu li a:hover {
        padding: 5px 30px;
        transition: 0.4s;
        color: var(--color-titulos);
        background: rgba(138, 171, 214, 0.302);
    }
    .nav-list-menu li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .servicios {
        flex-wrap: wrap;
    }
    .logo {
        font-size: 20px;
        padding: 15px;
    }
    footer p {
        font-size: x-small;
    }
}

@media screen and (max-width:858px) and (orientation:landscape) {
    .nav-list-menu li {
        margin: 5px 0 0 0;
    }
    .nav-list-menu {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}