* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Declaración de variables */

:root {
    --color-principal: rgb(61, 61, 61);
    --color-secundario: #a9a8a8;
    --color-titulos: white;
    --sombra: rgba(225, 198, 157, 0.87);
    --borde-MH-mobile: rgba(168, 109, 76, 1);
}

/*estilos del nav*/

.nav-menu {
    background: var(--color-principal);
    height: 92px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.logo {
    color: var(--color-titulos);
    font-size: 20px;
    padding: 0 35px;
    font-weight: bold;
}

.nav-list-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-list-menu li {
    border-radius: 3px;
    margin: 0 5px;
}

.nav-list-menu li a {
    color: var(--color-secundario);
    padding: 7px 13px;
    font-size: 17px;
    display: block;
}

.nav-list-menu li a:hover {
    padding: 38px 10px;
    transition: 0.4s;
    color: var(--color-titulos);
    background: rgb(254, 143, 1);
}

.btn-menu {
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}

/*--------------------------------------------*/

/* generales por clase */

.contenedor-general {
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
}

.titulo {
    color: var(--color-titulos);
    font-weight: bold;
}

.motivo {
    font-weight: lighter;
    font-size: x-small;
    color: var(--color-secundario);
}

.div-center {
    align-items: center;
}

.section {
    border-top: 2px solid var(--color-secundario);
    margin: 5px 0;
    width: 70%;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#servicios {
    border-top: 2px solid var(--color-secundario);
    width: 70%;
    margin-top: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
}

#contacto p {
    color: #3d3d3d;
}

.servicios {
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.servicios p {
    text-align: center;
    letter-spacing: 1px;
    color: #555;
}

#servicios p:nth-child(1) {
    padding-top: 20px;
    color: rgb(254, 143, 1);
    font-size: 30px;
}

.div-cada-servicio {
    flex-flow: wrap;
    width: 169.42px;
    margin: 10px;
    padding: 10px;
}

.div-cada-servicio:hover {
    margin: 20px auto;
    transition: all .5s;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: rgba(254, 144, 1, 0.337);
}

/*.div-cada-servicio p:hover {
    color: #fff;
    
} */

.form p {
    text-align: justify;
    color: #3d3d3d;
    margin-top: 10px;
    margin-bottom: 5px;
}

.icon-red-social {
    margin: 10px;
    cursor: pointer;
    width: 50px;
}

.section p:nth-child(1) {
    font-size: 30px;
    color: rgb(254, 143, 1);
    padding: 20px 28px 0px 25px;
    text-align: justify;
}

.section p:nth-child(2) {
    padding: 22px 27px 40px;
    color: #3d3d3d;
    text-align: justify;
}

.img-info {
    width: 400px;
    height: 300px;
}

.icons {
    width: 120px;
    padding: 5px;
    margin: 10px;
    align-self: center;
    border-radius: 150px;
    border: 5px dotted rgb(254, 143, 1);
}

.icons:hover {
    width: 140px;
    border: 5px dotted rgb(255, 255, 255);
}

.direccion {
    color: var(--color-secundario);
}

/* tags html*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, .6);
    background: var(--color-principal);
}

footer p {
    padding: 15px;
    text-align: center;
}

/*reutilizables*/

.margin-top-bottom {
    margin-top: 20px;
}

.row {
    justify-content: space-around;
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.margin {
    margin: 1rem;
}

.margin-bottom {
    margin-bottom: 40px;
}

.margin-top {
    margin-top: 52px;
}

input, textarea {
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    align-self: center;
    border: 0.4px solid darkgray;
}

button[type="submit"] {
    padding: 10px;
    width: 100px;
    align-self: center;
    border: 0.4px solid darkgray;
    border-radius: 15px;
}